{
    "plugins":
    ["transform-decorators-legacy","transform-class-properties","transform-function-bind",],
    "presets":[
        [ "env", { "targets": { "node": "current" } }], 
        "stage-1", "stage-0"
    ]
}
